<% if !@artist.blank? %>
<head>
  <meta property="og:image" content="<%= @artist.images.first['url'] %>" />
  <meta property="og:title" content="&quot;<%= @artist.name %>&quot; Details" />
</head>
<% end %>

<body>
<form action="/artist_search" method="get">
    <input autocomplete="off" type="text" name="artist_from_query" placeholder="Choose an Artist" required>
    <button type="submit"">Search</button>
</form>

<% if !@artist.blank? %>
<h1> <%= @artist.name %> Details</h1>

<h2>Happiest Songs</h2>
<ol>
<% @all_tracks_and_afs.sort_by {|track, af| 100 - af.valence}.first(10).each do |track, af| %>
  <li><a href="/song_data/<%= track.id %>"><%= track.name %></a>, happiness: <%= af.valence %></li>
<% end %>
</ol>

<h2>Least Happy Songs</h2>
<ol>
<% @all_tracks_and_afs.sort_by {|track, af| af.valence}.first(10).each do |track, af| %>
  <li><a href="/song_data/<%= track.id %>"><%= track.name %></a>, happiness: <%= af.valence %></li>
<% end %>
</ol>

<h2>Highest Energy Songs</h2>
<ol>
<% @all_tracks_and_afs.sort_by {|track, af| 100 - af.energy}.first(10).each do |track, af| %>
  <li><a href="/song_data/<%= track.id %>"><%= track.name %></a>, energy: <%= af.energy %></li>
<% end %>
</ol>

<h2>Most Popular Albums</h2>
<ol>
<% @all_albums.sort_by {|album| -album.popularity}.first(10).each do |album| %>
  <li><a href="/album_data/<%= album.id %>"><%= album.name %></a></li>
<% end %>
</ol>

<h2>Extended Top Songs</h2>
<ol>
<% @all_tracks.sort_by {|track| -track.popularity}.first(20).each do |track| %>
  <li><a href="/song_data/<%= track.id %>"><%= track.name %></a></li>
<% end %>
</ol>



</ul>
<% end %>
</body>
