<% if !@artist.blank? %>
<head>
  <meta property="og:image" content="<%= @artist.images.first['url'] %>" />
  <meta property="og:title" content="&quot;<%= @artist.name %>&quot; Data" />
</head>
<% end %>

<body>
<form action="/artist_search" method="get">
    <input autocomplete="off" type="text" name="artist_from_query" placeholder="Choose an Artist" required>
    <button type="submit"">Search</button>
</form>

<% if !@artist.blank? %>
<h1> Artist: <%= @artist.name %></h1>
<ul>
  <li>Popularity: <%= @artist.popularity %></li>
  <li>Genres: <%= @artist.genres %></li>
  <li>Top Songs</li>
  <ol>
    <% @artist.top_tracks(:US).first(10).each do |track| %>
      <li><a href="/song_data/<%= track.id%>"><%= track.name %></a></li>
    <% end %>
  </ol>

  <li><a href="/artist_data/details/<%= @artist.id %>">More details</a></li>
  <li>Image:
    <div class='container'>
      <img src=<%= @artist.images[1]['url']%>>
    </div>
  </li>
  </ki
</ul>
<% end %>
</body>
