<body>

<form action="/artist_search" method="get">
    <input autocomplete="off" type="text" name="artist_from_query" placeholder="Choose an Artist" required>
    <button type="submit"">Search</button>
</form>

<% if !@artist.blank? %>
<h1> Artist: <%= @artist.name %></h1>
<ul>
  <li>Popularity: <%= @artist.popularity %></li>
  <li>Genres: <%= @artist.genres %></li>
  <li>Top Songs</li>
  <ol>
    <li><a href="/song_data/<%= @artist.top_tracks(:US)[0].id %>"><%= trimTitle(@artist.top_tracks(:US)[0].name)%></a></li>
    <li><a href="/song_data/<%= @artist.top_tracks(:US)[1].id %>"><%= trimTitle(@artist.top_tracks(:US)[1].name)%></a></li>
    <li><a href="/song_data/<%= @artist.top_tracks(:US)[2].id %>"><%= trimTitle(@artist.top_tracks(:US)[2].name)%></a></li>
    <li><a href="/song_data/<%= @artist.top_tracks(:US)[3].id %>"><%= trimTitle(@artist.top_tracks(:US)[3].name)%></a></li>
    <li><a href="/song_data/<%= @artist.top_tracks(:US)[4].id %>"><%= trimTitle(@artist.top_tracks(:US)[4].name)%></a></li>
  </ol>
  <li>Image:
    <div class='container'>
      <img src=<%= @artist.images[1]['url']%>>
    </div>
    </li>
</ul>
<% end %>
</body>
