<% if !@artist.blank? %>
<head>
  <meta property="og:image" content="<%= @artist.images.first['url'] %>" />
  <meta property="og:title" content="<%= @artist.name %> Data" />
</head>
<% end %>

<body>
<form action="/artist_search" method="get">
    <input autocomplete="off" type="text" name="artist_from_query" placeholder="Choose an Artist" required>
    <button type="submit"">Search</button>
</form>

<% if !@artist.blank? %>
<h1> Artist: <%= @artist.name %></h1>
<ul>
  <li>Popularity: <%= @artist.popularity %></li>
  <li>Genres: <%= @artist.genres %></li>
  <li>Top Songs</li>
  <ol>
    <% @artist.top_tracks(:US).first(5).each do |track| %>
      <li><a href="/song_data/<%= track.id%>"><%= track.name %></a></li>
    <% end %>
  </ol>
  <li>Image:
    <div class='container'>
      <img src=<%= @artist.images[1]['url']%>>
    </div>
    </li>
</ul>
<% end %>
</body>
