<body>
<form action="/artist_data">
    <input autocomplete="off" type="text" name="artist_from_query" placeholder="Choose an Artist" required>
    <button class="btn btn-outline-primary" id="button-addon2">Search</button>
</form>
<% if !@artist.blank? %>
<h1> Artist: <%= @artist.name %></h1>
<ul>
  <li>Popularity: <%= @artist.popularity %></li>
  <li>Genres: <%= @artist.genres %></li>
  <li>Top Songs</li>
  <ol>
    <li><%= trimTitle(@artist.top_tracks(:US)[0].name)%></li>
    <li><%= trimTitle(@artist.top_tracks(:US)[1].name)%></li>
    <li><%= trimTitle(@artist.top_tracks(:US)[2].name)%></li>
    <li><%= trimTitle(@artist.top_tracks(:US)[3].name)%></li>
    <li><%= trimTitle(@artist.top_tracks(:US)[4].name)%></li>
  </ol>
  <li>Image:
    <div class='container'>
      <img src=<%= @artist.images[1]['url']%>>
    </div>
    </li>
</ul>

<% end %>
</body>
