<body>

<form action="/song_data">
    <input autocomplete="off" type="text" name="song_from_query" placeholder="Choose a Song" required>
    <button class="btn btn-outline-primary" id="button-addon2">Search</button>
</form>

<% if !@song.blank? && !@audio_features.blank? %>
<h1>Song: <%= @song.name %></h1>
<ul>
  <li>Album: <%= @song.album.name %></li>
  <li>Artist: <a href=<%='/artist_data?artist_from_query='+plusSeparate(@song.artists.first.name)%>><%= @song.artists.first.name %></a></li>
  <li>Acousticness: <%= @audio_features.acousticness %></li>
  <li>Danceability: <%= @audio_features.danceability %></li>
  <li>Energy: <%= @audio_features.energy %></li>
  <li>Instrumentalness: <%= @audio_features.instrumentalness %></li>
  <li>Key: <%= formatKey(@audio_features.key, @audio_features.mode) %></li>
  <li>Liveness: <%= (@audio_features.liveness) %></li>
  <li>Tempo: <%= @audio_features.tempo %></li>
  <li>Time Signature: <%= @audio_features.time_signature %></li>
  <li>Happiness: <%= @audio_features.valence %></li>
  <li><a target="_blank" href = <%= @song.external_urls['spotify'] %>>The Spotify Url</a></li>
  <li> Album Cover:
    <div class='container'>
      <img src=<%= @song.album.images[1]['url'] %>>
    </div>
  </li>
</ul>
<% end %>
</body>
