<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>

<h1>All Time Top Songs</h1>

<ol>
  <% @top_tracks.each do |track| %>
    <li><a href="/song_data/<%= track.id%>"><%= track.name %></a></li>
  <% end %>
</ol>

<h1>Out of these:</h1>

<h2>Hidden gems:</h2>
<ol>
  <% @top_tracks.sort_by(&:popularity).first(10).each do |track| %>
    <li><a href="/song_data/<%= track.id%>"><%= track.name %></a>, popularity: <%= track.popularity %> </li>
  <% end %>
</ol>


</body>
