<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>

<h1>All Time Top Artists</h1>
<ol>
  <% @top_artists.each do |artist| %>
    <li><a href="/artist_data/<%= artist.id%>"><%= artist.name %></a></li>
  <% end %>
</ol>

<h2>Hidden Gems:</h2>
<ol>
  <% @top_artists.sort_by(&:popularity).first(10).each do |artist| %>
    <li><a href="/artist_data/<%= artist.id%>"><%= artist.name %></a>, popularity: <%= artist.popularity %> </li>
  <% end %>
</ol>

<h2>Most Common Genres:</h2>
<ol>
  <% @top_genres.each do |genre_name, num_artists| %>
    <li><%= genre_name.titleize %> (<%= num_artists %> artists)</li>
  <% end %>
</ol>

</body>
