<% if !@song.blank? %>
<head>
  <meta property="og:image" content="<%= @song.album.images.first['url'] %>" />
  <meta property="og:title" content="<%= @song.name %> Data" />
</head>
<% end %>

<body>

<form action="/song_search" method="get">
    <input autocomplete="off" type="text" name="song_from_query" placeholder="Choose a Song" required>
    <button type="submit">Search</button>
</form>

<% if !@song.blank? && !@audio_features.blank? %>
<h1>Song: <%= @song.name %></h1>
<ul>
  <li>Album: <a href="/album_data/<%= @song.album.id %>"><%= @song.album.name %></a></li>
  <li>Artist: <a href="/artist_data/<%= @song.artists.first.id %>"><%= @song.artists.first.name %></a></li>
  <li>Acousticness: <%= @audio_features.acousticness %></li>
  <li>Danceability: <%= @audio_features.danceability %></li>
  <li>Energy: <%= @audio_features.energy %></li>
  <li>Instrumentalness: <%= @audio_features.instrumentalness %></li>
  <li>Key: <%= formatKey(@audio_features.key, @audio_features.mode) %></li>
  <li>Liveness: <%= (@audio_features.liveness) %></li>
  <li>Tempo: <%= @audio_features.tempo %></li>
  <li>Time Signature: <%= @audio_features.time_signature %></li>
  <li>Happiness: <%= @audio_features.valence %></li>
  <li><a href="/print_chords/<%= @song.id %>">Print chords to terminal</a></li>
</ul>
<iframe src="https://open.spotify.com/embed/track/<%= @song.id %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<% end %>
</body>
