<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Unlocked</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta property="og:title" content="Spotify Unlocked" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/og.png" />


  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Spotify Unlocked</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item <%= 'active' if request.env['PATH_INFO'].include? '/song_data'%>">
            <a class="nav-link" href="/song_data">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if request.env['PATH_INFO'].include? '/artist_data'%>" href="/artist_data">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if request.env['PATH_INFO'].include? '/album_data'%>" href="/album_data">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/spotify">User</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
